.Button {
  padding: 10px 30px;
  border: 0;
  border-radius: 30px;
  font-size: 15px;
  line-height: 15px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  background: #1CCA9D;
  color: #fff;
  outline: none; }
