.Dropdown {
    position: relative;
    width: 100%;
    height: 100%;

    &-Content {
        position: absolute;
        top: 40px;
        right: 0;
        width: 125px;
        min-height: 125px;
        border-radius: 5px;
        z-index: 1000;
        text-align: left;
        background: #fff;
        box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.2);
    }

    &-Item {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        transition: 0.3s ease;
        cursor: pointer;

        &:hover {
            background: #f5f5f5;
        }

        &-Text {
            padding-left: 10px;
        }
    }
}