@import '../../../common/variables';

.SingleInput {
    position: relative;

    &-Label {

    }

    &-Input {
        max-width: 250px;
        height: 40px;
        border: none;
        border-bottom: 1px solid $green;
        margin: 0 auto;
        padding: 10px 30px 10px 10px;
        color: #000;
        background: transparent;
        outline: none;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #909090;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: #909090;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: #909090;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: #909090;
        }

        &:-webkit-autofill {
            transition: background-color 5000s ease-in-out 0s;
        }

    }
}